@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  padding:0;
  background-image: linear-gradient(to left, #d299c2 0%, #fef9d7 100%);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

button {
  cursor: pointer;
}